body{
  background: white;
  overflow-x: hidden;
}
.sliding-navbar {
  height: 100vh;
  width: 150px;
  position: absolute;
  background-color: black;
  color: white;
  left: -150px;
  padding: 0px;
  margin: 0px;
  transition: 1s;
  top: 0px;
  z-index: 2;
}
.navicon {
  width: 40px;
  height: 5px;
  background-color: transparent;
  transition: 1s;
  position: absolute;
  margin: auto;
  right: -50px;
  top: 30px;
}
.navicon::before {
  content: "";
  width: 40px;
  height: 5px;
  background-color:black;
  position: absolute;
  transform: translateY(10px);
  transition: 0.4s;
}

.navicon::after {
  content: "";
  width: 40px;
  height: 5px;
  background-color:black;
  position: absolute;
  transform: translateY(-10px);
  transition: 0.4s;
}

.sliding-navbar.open {
  transform: translateX(150px);
}

.sliding-navbar.open .navicon::before {
  transform: rotate(45deg);
}

.sliding-navbar.open .navicon::after {
  transform: rotate(-45deg);
}


.nav-tray {
  height: 100vh;
  background-color: red;
  width: 20vw;
  color: red;
  position: relative;
  top: 0px;
}

.nav-text {
  padding: 5px;
  margin: 50px 5px;
  border-left: white 5px solid;
  list-style-type: none;
  position: relative;
  height:30px;
  width:30px;
  fill:white;
}

.nav-selector {
  width: 10px;
  height: 10px;
  border-top: transparent 5px solid;
  border-right: transparent 5px solid;
  transform: rotate(45deg);
  position: absolute;
  top: 25%;
  transition: 0.1s;
}

.nav-text:hover>.nav-selector {
  border-top: white 5px solid;
  border-right: white 5px solid;
  transform: translateX(-40px) rotate(45deg);

}

.nav-button {
  color: white;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.nav-button img{
  height: 30px;
  width: 30px;
}
#navstrip{
  background:transparent;
  border-radius:10px;
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px -5px, rgba(0, 0, 0, 0.04) 0px 0px 10px 5px;
  width: 100%;
}
.theme #navstrip {
  background: linear-gradient(to bottom,#E4E4E4,rgba(0,0,0,0.8));
}
#logogh{
  float: right;
  height:50px;
  width:50px;
  padding-right:10px;
}
#themebtn{
  position: absolute;
  bottom:0;
  right: 0;
  height:60px;
  width:60px;
  background: transparent;
  border: none;
  outline: none;
}
#themebtn img{
  height:50px;
  width:50px;
}
#themebtn #sun{
  display: none;
}
.theme #themebtn #moon{
  display: none;
}
.theme #themebtn #sun{
  display: block;
}
body.theme{
  background: black;
}
::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper{
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 300px;
  border-radius: 5px;
  position: relative;
  
}
.theme .wrapper .search-input{
  background:black;
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.theme .search-input input{
  background: black;
  border:2px solid white;
  color:white;
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  width:365px;
  border-radius: 5px;
}
.theme .search-input .autocom-box{
  background:black;
  color:white;
  border:1px solid white;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
  width:365px;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 365px;
  cursor: default;
  border-radius: 3px;
}
.theme .autocom-box li{
  background:black;
}

.search-input.active .autocom-box li{
  display: block;
  width: 365px;
}
.theme .search-input.active .autocom-box li{
  background:black;
}
.autocom-box li:hover{
  background: #efefef;
}
.theme .autocom-box li:hover{
  color:grey;
}

.search-input .icon{
  position: absolute;
  left:310px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #23232d;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}
.theme .search-input .icon{
  color:white;
}